<div class="divider" aria-hidden="true">
  <svg viewBox="0 0 72 20" width="72" height="20">
    <path d="M6 8 l6 5 l6 -5" />
    <path d="M28 4 l8 6 l8 -6" />
    <path d="M54 8 l6 5 l6 -5" />
  </svg>
</div>
